@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;500;600;700&display=swap');
body{    
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after{
    box-sizing: border-box;
}
.imgSection{
    overflow: hidden;
    background-image: url("././images/bg2.png");
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    height: 757px;
    display: block;
}
.logo{
    padding: 25px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing:5px;
    position: absolute;
    width: 100%;
}
.logo a{
    color: Black;
    text-decoration: none;
}
.logo span{
    font-family: 'Clicker Script', cursive;
}
.imgSection .btns{
    position: absolute;
    top: 20%;
    width: 100%;
    padding: 25px;
    left:12px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    
}
.imgSection .btns .btn{
    background-color: #ec1839;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    margin-left: 5px;
    color: white;
    border-radius: 25px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    transition: all 0.3s ease;
    margin-top: 5px;
}
.card{
    background-color:#D5D9DB;
    position: absolute;
    top: 49%;
    left: 43px;
    width: 38%;
    
    
}
.card .card-header{
    background-color: #ec1839;
    color: white;
    border: 1px solid black;
    padding: 8px;
    font-size: 20px;
}
.card .card-text{
    padding: 8px;
    border: 1px solid black;
    overflow: auto;
}
footer{
    overflow: hidden;
    background-color: #ec1839;
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}