@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
body {
    background-image:  linear-gradient(to bottom, #ec1839, #e9405a, #eb5269);
    font-family: 'Nunito', sans-serif;
    background-size: cover;
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color:  rgb(46, 41, 41);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 20px;
    

}

.lbl {
    color: white;
    font-size: 20px;
}

#uname,
#ubatch,
#quantity,
#expiry,
#manuDate {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}

#ucomment {
    border-radius: 10px;
    padding-left: 10px;
}

#submitbtn {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #ec1839;
    font-size: 20px;
    cursor: pointer;
}